*{
  font-family: "DM Sans", "Open Sans", sans-serif;
}

.header-bg{
  background-image: url('https://valcertra.vercel.app/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-bg{
  height: 120vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://valcertra.vercel.app/sign-up-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cert-application label{
  color: #344054 !important;
}

.cert-application input, .cert-application select{
  outline: none !important;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #C9A63D; /* Blue */
  border-radius: 50%;
  width: 20px;
  margin: 0 auto;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:576px) {
  .sign-up-bg {
    height: 100%;
    padding: 4rem 0;
  }
}